@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 95%;
  }

  .header {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: auto;
    padding: 10px;
  }

  .content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .content .block {
    height: 300px;
    width: 100%;
    margin: 5px 0;
  }
}